<% include ../partials/header.ejs%>

	<div class="page">
		<div class="page-head">
			<div class="pin"></div>

			<h1 class="title">Create New Event</h1>
		</div>

		<div class="page-content">

			<form action="/events" method="POST" enctype="multipart/form-data">
				<span class="tag">Name:</span> <input type="text" name="name"><br/>
				<span class="tag">Host:</span> 
					<select name="host">
						<option value="<%=member._id%>"><%=member.firstName+" "+member.lastName%></option>

						<% groups.forEach( group => {%>

							<option value="<%=group._id%>"><%=group.name%></option>	

						<% }) %>

					</select><br/>
				<span class="tag">Event Picture:</span> <input type="file" name="profilePic"><br/>
				<span class="tag">Date & Time:</span> <input type="datetime-local" name="beginDateTime" value="<%=now%>"><br/>
				<span class="tag">End Time:</span> <input type="datetime-local" name="endDateTime"><br/>
				<h3>Address</h3>
				<span class="tag">Address 1:</span> <input type="text" name="addr1"><br/>
				<span class="tag">Address 2:</span> <input type="text" name="addr2"><br/>
				<span class="tag">City:</span> <input type="text" name="city"><br/>
				<span class="tag">State:</span> <input type="text" name="state"><br/>
				<span class="tag">Zip Code:</span> <input type="text" name="zip"><br/>
				<span class="tag">Description:</span> <br/><textarea name="description" row="10" col="30"></textarea><br/>
				<!-- Members Only: --> <input type="hidden" name="membersOnly"><br/> <!-- if an org -->
				<span class="tag">Maximum Attendees (optional):</span> <input type="number" name="attendeeMax"><br/>
				<span class="tag">21+:</span> <input type="checkbox" name="hasAlcohol"><br/>
				<button>Submit</button>
				<button type="reset">Reset</button>
			</form>
		</div>
	</div>

<% include ../partials/footer.ejs%>