<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<a href="/">Home</a>
	<% if (event.memberHost._id.toString() === session.userId) {%>
		<a href="/events/<%=event._id%>/edit">Edit</a>
	<% } %>
	<h1><%=event.name%></h1>
	<p>Hosted by <% if (event.memberHost) {%>
		<%=event.memberHost.name%>
		<% } %>
	</p>

	<h5>Date & Time: <%=event.beginDateTime%></h5>
	<% if (event.endDateTime) { %>
		<h5>End Time: <%=event.endDateTime%></h5>
	<% } %>
	Location: <div id="event-address">
		<%=event.location.addr1%><br/>
		<% if (event.location.addr2) { %>
			<%=event.location.addr2%><br/>
		<% } %>	
		<%=event.location.city%>, <%=event.location.state%> <%=event.location.zip%>
	</div><br/>

	<h3>Description:</h3></br>
	<p><%=event.description%></p>

		<% if (session.logged) { %>

		<% if (event.memberHost._id.toString() === session.userId) {%>
			ATTENDEES LIST: <%=attendees.length%><br>
			<ol>
				<% attendees.forEach( attendee => {%>
					<li><%=attendee.member.firstName + " " + attendee.member.lastName%></li>
				<% }) %>
			</ol>



		<% }  else if (!attendance.length && event.attendeeMax === null) { %>
			<form action="/events/<%=event._id%>/attend" method="POST">
			    <input type="submit" value="Attend"/>
			</form>
		<% } else if (!attendance.length && event.attendeeMax !== null) { %>
				<%= event.attendeeMax - attendees.length%> spot(s) left!
				<form action="/events/<%=event._id%>/request" method="POST">
				    <input type="submit" value="Request Attendance"/>
				</form>
		<% } else { %>
			You are signed up for this event!
		<% } %>
	<% } %>

</body>
</html>