<% include ../partials/header.ejs%>


	<% if (event.memberHost._id.toString() === session.userId) {%>
		<a href="/events/<%=event._id%>/edit">Edit</a>
	<% } %>
	<h1><%=event.name%></h1>
	<p>Hosted by <% if (event.memberHost) {%>
		<%=event.memberHost.name%>
		<% } %>
	</p>

	<h5>Date & Time: <%=event.beginDateTime%></h5>
	<% if (event.endDateTime) { %>
		<h5>End Time: <%=event.endDateTime%></h5>
	<% } %>
	Location: <div id="event-address">
		<%=event.location.addr1%><br/>
		<% if (event.location.addr2) { %>
			<%=event.location.addr2%><br/>
		<% } %>	
		<%=event.location.city%>, <%=event.location.state%> <%=event.location.zip%>
	</div><br/>

	<h3>Description:</h3></br>
	<p><%=event.description%></p>

		<% if (session.logged) { %>

		<% if (event.memberHost._id.toString() === session.userId) {%>
			ATTENDEES LIST: <%=attendees.length%><br>
			<ol>
				<% attendees.forEach( attendee => {%>
					<form action="/events/<%=event._id%>/remove?_method=DELETE" method="POST">
						<li>
							<input type="hidden" name="memberId" value="<%=attendee.member._id%>">
							<%=attendee.member.firstName + " " + attendee.member.lastName%>
							<% if (attendee.member._id.toString() === session.userId) { %>
								(me)
							<% } else { %>
								<button>Remove</button>
							<% } %>
						</li>
					</form>
				<% }) %>
			</ol>

		PENDING REQUESTS: </br>
			<ol>
				<% event.requests.forEach( r => { %>
						<form action="/events/<%=event._id%>/reject?_method=DELETE" method="POST">
							<li>
								<input type="hidden" name="memberId" value="<%=r.member._id%>">
								<%=r.member.firstName + " " + r.member.lastName%>
								<p><%=r.message%></p>
								<button formaction="/events/<%=event._id%>/accept">Accept</button>
								<button>Reject</button>

							</li>
						</form>
					<% }) %>
			</ol>



		<% }  else if (!attendance.length && event.attendeeMax === null) { %>
			<form action="/events/<%=event._id%>/attend" method="POST">
			    <input type="submit" value="Attend"/>
			</form>
		<% } else if (!attendance.length && 

						event.attendeeMax !== null &&

						event.requests.findIndex( r => r.member.toString() === session.userId) === -1

						) { %>
				<%= event.attendeeMax - attendees.length%> spot(s) left!
				<div id="request-div"></div>
				<form action="/events/<%=event._id%>/request">
					<button id="request-button">Request Attendance</button>
				</form>
		<% } else if (!attendance.length && 

						event.attendeeMax !== null &&

						event.requests.findIndex( r => r.member.toString() === session.userId) >= 0

						){ %>
			Your request is pending!
		<% } else { %>
			You are signed up for this event!

			<form action="/events/<%=event._id%>/remove?_method=DELETE" method="POST">
					<input type="hidden" name="memberId" value="<%=session.userId%>">
					<button>Unattend</button>
			</form>

		<% } %>
	<% } %>
	
<% include ../partials/footer.ejs%>