<hr>

Add Attendee
<form action="/events/<%=event._id%>/addAttendee" method="POST">
	<select name='member'>
		
		<% nonAttendees.forEach( m => {%>
			<option value="<%=m._id%>"><%=m.firstName+" "+m.lastName%></option>
		<% }) %>

	</select><br>
	<button>Add Attendee</button>
</form>

<p class="inner-list">ATTENDEES LIST: <%=attendees.length%></p>
				<ol>
					<% attendees.forEach( attendee => {%>
						<form action="/events/<%=event._id%>/remove?_method=DELETE" method="POST">
							<li>
								<input type="hidden" name="memberId" value="<%=attendee.member._id%>">
								<a href="/members/<%=attendee.member._id%>">
									<a href="/members/<%=attendee.member._id%>"><%=attendee.member.firstName+" "+attendee.member.lastName%></a>
								</a>
								<% if (attendee.member._id.toString() === session.userId) { %>
									(me)
								<% } else { %>
									<button>Remove</button>
								<% } %>
							</li>
						</form>
					<% }) %>
				</ol>

<p class="inner-list">PENDING REQUESTS: <%=event.requests.length%></p>
	<ol>
		<% event.requests.forEach( r => { %>
				<form action="/events/<%=event._id%>/reject?_method=DELETE" method="POST">
					<li>
						<input type="hidden" name="memberId" value="<%=r.member._id%>">
						<a href="/members/<%=r.member._id%>">
							<a href="/members/<%=r.member._id%>"><%=r.member.firstName + " " + r.member.lastName%></a>
						</a>
						<p><%=r.message%></p>
						<button formaction="/events/<%=event._id%>/accept">Accept</button>
						<button>Reject</button>

					</li>
				</form>
			<% }) %>
	</ol>