<% events.forEach( event => {%>
			<div class="page">

			<div class=page-head>
				<div class="pin"></div>
				<a href="/events/<%=event._id%>"><h3 class="title"><%=event.name%></h3></a>
			</div>
			<div class="page-content">
				<div class="host">
					Hosted by 
					<% if (event.memberHost) { console.log(event.memberHost);%>
						
						<%=event.memberHost.firstName+" "+event.memberHost.lastName%>

					<% } else {  console.log(event.groupHost.name);%>

						<%=event.groupHost.name%>
						
					<% } %>		
				</div>
				<p><%=event.description%></p>
			</div>

	</div>
		<% }) %>