
<hr>

Add Members
<form action="/groups/<%=group._id%>/addMember" method="POST">
	<select name='member'>
		
		<% nonMembers.forEach( m => {%>
			<option value="<%=m._id%>"><%=m.firstName+" "+m.lastName%></option>
		<% }) %>

	</select><br>
	<button>Add Member</button>
	<button formaction="/groups/<%=group._id%>/addAdmin">Add Member as Admin</button>
</form>

<p class="inner-list">MEMBERS LIST: <%=members.length%></p>
				<ol>
					<% members.forEach( member => {%>
						<form action="/groups/<%=group._id%>/remove?_method=DELETE" method="POST">
							<li>
								<input type="hidden" name="memberId" value="<%=member.member._id%>">
								<a href="/members/<%=member.member._id%>">
									<%=member.member.firstName + " " + member.member.lastName%>
								</a>
								<% if (member.member._id.toString() === session.userId) { %>
									(me) <button>Leave Group</button>
								<% } else { %>
									<button>Remove</button>
								<% } %>
							</li>
						</form>
					<% }) %>
				</ol>

<p class="inner-list">PENDING REQUESTS: <%=group.requests.length%></p>
	<ol>
		<% group.requests.forEach( r => { %>
				<form action="/groups/<%=group._id%>/reject?_method=DELETE" method="POST">
					<li>
						<input type="hidden" name="memberId" value="<%=r.member._id%>">
						<a href="/members/<%=r.member._id%>">
							<%=r.member.firstName + " " + r.member.lastName%>
						</a>
						<p><%=r.message%></p>
						<button formaction="/groups/<%=group._id%>/accept">Accept</button>
						<button formaction="/groups/<%=group._id%>/acceptAdmin">Accept as Admin</button>
						<button>Reject</button>

					</li>
				</form>
			<% }) %>
	</ol>