<% include ./partials/header.ejs %>

	<div class="page-tag">
		<div class="pin"></div>
		<h1 class="title">Public Events</h1>
	</div>

		
		<% events.forEach( event => {%>
			<div class="page">

			<div class=page-head>
				<div class="pin"></div>
				<a href="/events/<%=event._id%>"><h3 class="title"><%=event.name%></h3></a>
			</div>
			<div class="page-content">
				<div class="host">
					Hosted by 
					<% if (event.memberHost) { %>
						
						<%=event.memberHost.firstName+" "+event.memberHost.lastName%>

					<% } else { %>

						<%=event.groupHost.name%>
						
					<% } %>		
				</div>
				<p><%=event.description%></p>
			</div>

	</div>
		<% }) %>



<% include ./partials/footer.ejs %>