<% include ./partials/header.ejs %>

	<div id="event-list">
		
		<% events.forEach( event => {%>
			<a href="/events/<%=event._id%>">
				<div id="event-info">
					<%=event.name%>
					<%=event.description%>
					<% if (event.memberHost) { %>
						
						<%=event.memberHost.name%>

					<% } else { %>

						<%=event.groupHost.name%>
						
					<% } %>
					
				</div>
			</a>

		<% }) %>


	</div>

<% include ./partials/footer.ejs %>