<% include ../partials/header.ejs%>

	<div class="page">
		<div class="page-head">
			<div class="pin"></div>
			<h1 class="title">Edit Group</h1>
		</div>
		
		<div class="page-content">
			<a href="/groups/<%=group._id%>/updatepic">Update Group Picture</a>
			<form action="/groups/<%=group._id%>?_method=PUT" method="POST">
				<span class="tag">Name:</span> <input type="text" name="name" value="<%=group.name%>"><br/>
				<span class="tag">Description:</span> <br/><textarea name="description" row="5" col="10"><%=group.description%></textarea><br/>
				<span class="tag">Private:</span> <input type="checkbox" name="private"
					<% if (group.private) { %>
						checked
					<% } %>
				><br/>
				<button>Update Group</button>
				<button formaction="/groups/<%=group._id%>?_method=DELETE" method="POST">Delete Group</button>
			</form>
		</div>
		<% if (group.profilePic.data) { -%>
			
			<img src="/groups/profilePic/<%=group._id%>" class="profile-pic"/>
		<% } -%>
	</div>





<% include ../partials/footer.ejs%>