<% include ../partials/header.ejs %>

	<h1>Group List</h1>

	<ul>
		
		<% groups.forEach( group => { %>

		<li class="page"><a href="/groups/<%=group._id%>"><%=group.name%></a>

			<ol><%=group.name%>'s Events
				<% events.forEach( event => { console.log(event.groupHost, group._id);
					if (event.groupHost == group._id.toString()) { %>

					<li><a href="/events/<%=event._id%>"><%=event.name%></a></li>

				<% }}) %>
			</ol>
		</li>

		<% }) %>

	</ul>








<% include ../partials/footer.ejs %>