<% include ../partials/header.ejs %>

	<div class="page-tag">
		<div class="pin"></div>
		<h1 class="title">Group List</h1>
	</div>


	<ul>
		
		<% groups.forEach( group => { %>

		<li class="page">
			<div class="page-head">
				<div class="pin"></div>
				<a href="/groups/<%=group._id%>"><h2 class="title"><%=group.name%></h2></a>
			</div>
			<div class="page-content">
				<h3><%=group.name%>'s Events</h3>
				<ol>

					<% events.forEach( event => { console.log(event.groupHost, group._id);
						if (event.groupHost == group._id.toString()) { %>

						<li><a href="/events/<%=event._id%>"><%=event.name%></a></li>

					<% }}) %>
				</ol>
			</div>
		</li>

		<% }) %>

	</ul>








<% include ../partials/footer.ejs %>